main {
  width: 1366px;
  margin: 0 auto;
}
.padding-site {
  padding-left: 227px;
}
header {
  display: flex;
  flex-direction: column;
}
.headerItems {
  display: flex;
  justify-content: space-between;
}
/*logo*/
.logo {
  display: flex;
  margin-top: 10px;
}
.logoTitle {
  display: flex;
}
.logoImg {
  margin-top: 12px;
  margin-right: 13px;
}
.bran {
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  color: #222222;
}
.d {
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 900;
  color: #f16d7f;
}
.logoLink {
  text-decoration: none;
}
/*searchBar*/
.searchBar {
  display: flex;
  width: 417px;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-top: 32px;
  margin-left: 37px;
  margin-right: 349px;
}
select {
  outline: none;
  border: none;
  text-decoration: none;
  height: 38px;
  font-family: Lato;
  font-size: 13px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  border-right: 1px solid #e6e6e6;
}
.searchInput:focus,
.searchInput:active,
.searchInput {
  outline: none;
  border: none;
  text-decoration: none;
  height: 36px;
  width: 289px;
  background-color: #ffffff;
  padding-left: 15px;
}
.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e6e6e6;
  padding-left: 15px;
}
.fa {
  text-decoration: none;
}
.fa-search {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #a4a4a4;
}
/*profile*/
.fa-shopping-cart {
  text-decoration: none;
  color: #222222;
  margin-right: 26px;
  margin-top: 40px;
}
.profile {
  display: flex;
}
.profileSel {
  border: none;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: white;
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 32px;
}
nav {
  display: flex;
  justify-content: center;
}
.navItem {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-right: 40px;
  text-decoration: none;
}
.navItem:last-child {
  margin-right: none;
}
.navItem:hover {
  color: grey;
}
.navItem:active {
  color: red;
}
/*Slogan Block*/
.sloganBlock {
  background-image: url(../images/sloganImage.jpg);
  height: 665px;
  width: 1600px;
  display: flex;
}
.titleContainer {
  margin-top: 224px;
}
.sloganTitle {
  font-family: Lato;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: -40px;
  margin-top: -15px;
}
.sloganCont {
  display: flex;
}
.sloganContin {
  color: #222222;
  font-family: Lato;
  letter-spacing: 0.025em;
  font-size: 40px;
  margin-right: 8px;
}
.pinkSloganContin {
  font-family: Lato;
  font-size: 40px;
  color: #f16d7f;
  letter-spacing: 0.025em;
}
.pinkStick {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  margin-right: 12px;
  margin-top: 224px;
  margin-left: 230px;
}
.hotDeal {
  margin-top: 98px;
  margin-left: 230px;
}
.leftSide {
  margin-right: 21px;
}
.lsMan {
  background-image: url(../images/man.jpg);
  height: 542px;
  width: 560px;
  margin-bottom: 20px;
  margin-top: 0px;
  position: relative;
}
.lsMoneycase {
  background-image: url(../images/moneycase.jpg);
  width: 560px;
  height: 261px;
}
.rsWoman {
  background-image: url(../images/woman.jpg);
  width: 560px;
  height: 261px;
  margin-bottom: 20px;
}
.rsBoy {
  background-image: url(../images/boy.jpg);
  height: 542px;
  width: 560px;
}
.hdContainer {
  display: flex;
}
.figcaption {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 26px;
  padding: 0 0 0 19px;
}
.blackText {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: -30px;
}
.pinkText {
  font-family: Lato;
  font-size: 30px;
  color: #f16d7f;
  font-weight: 900;
  letter-spacing: 0.025em;
}
.bt {
  font-size: 14px;
  font-family: Lato;
  font-weight: 900;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: -30px;
}
.pt {
  font-family: Lato;
  font-size: 25px;
  color: #f16d7f;
  font-weight: 900;
  margin-top: 32px;
}
/*Featured Items*/
.featuredItems {
  margin-top: 75px;
}
.fiTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fiTitleH2 {
  font-family: Lato;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: -35px;
}
.fiTitleP {
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.fiMain {
  margin-top: 60px;
}
.fItems1 {
  display: flex;
}
.fItem {
  margin-right: 32px;
  margin-bottom: 44px;
}
.fItemFigcaption {
  margin-left: 13px;
}
.MPTS {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.fiPrice {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.addButton {
  display: flex;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
}
a {
  text-decoration: none;
}
.addCart {
  margin: 0;
  color: #ffffff;
  margin-right: 8px;
}
.addText {
  margin: 0;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.hoverItem {
  width: 261px;
  height: 281px;
  opacity: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(58, 56, 56, 0.83);
}
.fiHover {
  position: relative;
}
.hi1 {
  margin-top: -816px;
}
.hi2 {
  margin-top: -816px;
  margin-left: 293px;
  height: 282px;
}
.hi3 {
  margin-top: -816px;
  margin-left: 586px;
  width: 263px;
  height: 281.5px;
}
.hi4 {
  margin-top: -816px;
  margin-left: 879px;
}
.hi5 {
  margin-top: -408px;
}
.hi6 {
  margin-top: -408px;
  margin-left: 293px;
}
.hi7 {
  margin-top: -408px;
  margin-left: 586px;
}
.hi8 {
  margin-top: -408px;
  margin-left: 879px;
}
.hoverItem:hover {
  opacity: 1;
}
.hiLink {
  height: 39px;
  width: 123px;
}
